.git/
.gitignore
.github/
.kamal/
.worktrees/
.ruby-lsp/
.superpowers/
project/
spec/
log/*
!log/.keep
tmp/*
!tmp/.keep
public/assets
app/assets/builds/*
!app/assets/builds/.keep
config/master.key
.env*
Dockerfile.backup
